[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=html
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_pimpresence
X-KDE-FactoryName=PIMPresencePreferencesFactory
X-KDE-ParentApp=kopete_pimpresence
X-KDE-ParentComponents=kopete_pimpresence

Comment=Set your status according to appointments in your calendar
Comment[el]=Καθορισμός της κατάστασής σας ανάλογα με τα ραντεβού στο ημερολόγιό σας
Name=PIM Presence
Name[el]=Παρουσία PIM
