[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=html
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_pimpresence
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=will@stevello.free-online.co.uk
X-KDE-PluginInfo-Name=kopete_pimpresence
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Comment=Set your status according to appointments in your calendar
Name=PIM Presence
