[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=html
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_pimpresence
X-KDE-FactoryName=PIMPresencePreferencesFactory
X-KDE-ParentApp=kopete_pimpresence
X-KDE-ParentComponents=kopete_pimpresence

Comment=Set your status according to appointments in your calendar
Comment[bg]=Задайте Вашето състояние според записаните срещи в календара
Comment[cs]=Nastavuje vás stav podle schůzek ve vašem kalendáři
Comment[da]=Indstil din status ifølge møder i din kalender
Comment[el]=Καθορισμός της κατάστασής σας ανάλογα με τα ραντεβού στο ημερολόγιό σας
Comment[es]=Establecer su estado conforme a las citas de su calendario
Comment[et]=Oma oleku määramine vastavalt kohtumistele kalendris
Comment[fr]=Définir votre état en fonction des rendez-vous de votre agenda
Comment[gl]=Axusta o seu estado de acordo cos compromisos no seu calendário
Comment[it]=Imposta il tuo stato secondo gli appuntamenti del calendario
Comment[ka]=გამართეთ თქვენი მდგომარეობა კალენდარში შეხვედრების მიხედვით
Comment[nl]=Stelt uw status in volgens de afspraken die in uw agenda staan
Comment[pa]=ਆਪਣੇ ਕੈਲੰਡਰ ਵਿੱਚ ਆਪਣੇ ਰੁਝੇਵੇਂ ਅਨੁਸਾਰ ਆਪਣੀ ਸਥਿਤੀ ਦੱਸੋ
Comment[pt]=Configura o seu estado de acordo com os compromissos no seu calendário
Comment[sk]=Nastaví stav podľa nastavení v kalendári
Comment[sr]=Поставља ваш статус према састанцима из календара
Comment[sr@Latn]=Postavlja vaš status prema sastancima iz kalendara
Comment[sv]=Ställ in din status enligt möten i din kalender
Comment[tr]=Takviminiz içindeki atamalara göre durumunuzu ayarlar
Comment[xx]=xxSet your status according to appointments in your calendarxx
Name=PIM Presence
Name[cs]=PIM přítomnost
Name[da]=PIM-tilstedeværelse
Name[el]=Παρουσία PIM
Name[es]=Presencia PIM
Name[et]=PIM kohalolek
Name[fr]=Présence PIM
Name[gl]=Presenza no PIM
Name[it]=Presenza PIM
Name[ka]=PIM არსებობა
Name[nl]=PIM Aanwezigheid
Name[pa]=PIM ਮੌਜੂਦਗੀ
Name[pt]=Presença no PIM
Name[sr]=PIM присутност
Name[sr@Latn]=PIM prisutnost
Name[sv]=PIM-närvaro
Name[tr]=PIM Varlığı
Name[xx]=xxPIM Presencexx
