[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=html
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kopete_pimpresence
X-KDE-FactoryName=PIMPresencePreferencesFactory
X-KDE-ParentApp=kopete_pimpresence
X-KDE-ParentComponents=kopete_pimpresence

Comment=Set your status according to appointments in your calendar
Comment[ar]=عيّن الحالة حسب مواعيدي في اليومية
Comment[bg]=Задайте вашето състояние според записаните срещи в календара
Comment[cs]=Nastavuje Váš stav podle schůzek ve vašem kalendáři
Comment[de]=Setzt Ihren Status gemäß den Terminen in Ihrem Kalender
Comment[el]=Καθορισμός της κατάστασής σας ανάλογα με τα ραντεβού στο ημερολόγιό σας
Comment[en_GB]=Set your status according to appointments in your calendar
Comment[es]=Establecer su estado conforme a las citas de su calendario
Comment[et]=Oma oleku määramine vastavalt kohtumistele kalendris
Comment[fr]=Définir votre état en fonction des rendez-vous du calendrier
Comment[ga]=Socraigh do stádas de réir na gcoinní atá i d'fhéilire
Comment[gl]=Configure o seu estado de acordo coas súa axenda
Comment[it]=Imposta il tuo stato secondo gli appuntamenti del calendario
Comment[km]=កំណត់​ស្ថានភាព​របស់​អ្នក​ យោង​តាម​កា​រ​ណាត់​នៅ​ក្នុង​ប្រតិទិន​របស់​អ្នក
Comment[nb]=Angir din status i følge avtaler i kalenderen din
Comment[nds]=Legg Dien Status na Dien Terminkalenner fast
Comment[nl]=Stelt uw status in, gebaseerd op afspraken in uw agenda
Comment[pt]=Defina o seu estado de acordo com os compromissos no seu calendário
Comment[pt_BR]=Defina seu status de acordo com os compromisso no seu calendário
Comment[sv]=Ställ in din status enligt möten i din kalender
Comment[tr]=Takviminiz içindeki atamalara göre durumunuzu ayarlar
Comment[uk]=Встановити стан відповідно до зустрічей у вашому календарі
Comment[x-test]=xxSet your status according to appointments in your calendarxx
Name=PIM Presence
Name[ar]=حضور PIM
Name[bg]=PIM Presence
Name[de]=PIM-Präsenz
Name[el]=Παρουσία PIM
Name[en_GB]=PIM Presence
Name[es]=Presencia PIM
Name[et]=PIM kohalolek
Name[fr]=Présence PIM
Name[ga]=Láithreacht PIM
Name[gl]=Presenza PIM
Name[it]=Presenza PIM
Name[km]=វត្តមាន PIM
Name[nb]=PIM-nærvær
Name[nds]=PIM-Praatschap
Name[nl]=PIM-aanwezigheid
Name[pt]=Presença PIM
Name[pt_BR]=Presença PIM
Name[sv]=Personlig närvaro
Name[tr]=PIM Varlığı
Name[uk]=Присутність PIM
Name[x-test]=xxPIM Presencexx
